.r1{    
    /* margin-top: 5rem; */
    /* margin-top: -1.8rem; */
    padding-bottom: 5rem;
    
     width: 100%;
     height: 100vh;
     align-items: center;
     justify-content: center;
     border: 0px solid rgb(39, 29, 29);
     color: white;
     font-size: 20px;
     border-radius: 5px;
     background-size: cover;
     background-repeat: no-repeat;
     justify-content: space-between;
     
 }
 .label1{
    margin-left:12% ;
 }
 .r2{
    
    margin:auto;
    padding-top: 5%;

    
 }
 .in1{
     background-color:rgba(35,43,85,0.75);
     margin-left: 10%;
     height: 30px;
     width:250px ;
     border-radius: 30px;
     
 }
 .in2{
    background-color:rgba(8, 48, 247, 0.75);
    width:250px;
    height:30px;
    border-radius: 30px;
 }
 .b1{
     height: 30px;
     border-radius: 10px;
 
 
    
     margin-top: 30px;
     background-color: azure;
     color: blue;
 }
 