


/* input{
    background-color: rgb(166, 243, 215);
    margin-top: 30px;
} */
.signbutton1{
    width:50%;
    height: 30px;
    background-color: rgba(35,43,85,0.95);
    color:rgb(225, 202, 202) ;
}

.signinup{
    background:
    linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95));
    width:350px;
    height:550px;
    margin: auto;
}
.mainsub1{
    
}